.App {
  text-align: center;
}

body {
  background: rgba(255, 217, 0, 0.842);
}
h1 {
  color: red;
  font-size: 50px;
}

.App-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  color: white;
}

.controls {
  color: red;
  font-size: 25px;
  align-content: space-between;
}

.clock {
  border-color: red;
  border-style: solid;
  border-radius: 50%;
  border-width: 5px;
  margin: 50px;
  height: 250px;
  width: 250px;
  display: inline-block;
  color: rgba(255, 255, 255, 0.904);
  font-size: 50px;
}

.session {
  font-size: 20px;
  color: rgba(255, 255, 255, 0.904);
}
