.App {
  text-align: center;
  font-family: Monaco, monospace;
}

body {
  background: rgba(255, 217, 0, 0.842);
}
h1 {
  color: red;
  font-size: 50px;
}

.App-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-right: 150px;
  color: white;
}

#control-wrapper {
  display: inline;
  width: 100px;
  height: 100px;
  margin: 15px;
  padding: 10px;
  align-items: center;
  justify-content: center;
}

.controls {
  color: red;
  font-size: 30px;
  display: inline-grid;
}

button {
  border: white;
  background-color: #fede27;
  margin: 2px;
  font-size: 20px;
  color: black;
  margin: 5px 10px;
  padding: 10px 24px;
  text-align: center;
  display: inline-block;
}

button:hover {
  cursor: pointer;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.clock {
  border-color: red;
  border-style: solid;
  border-radius: 50%;
  border-width: 5px;
  margin: 55px;
  padding: 20px;
  height: 250px;
  width: 250px;
  display: inline-grid;
  color: rgba(255, 255, 255, 0.904);
  font-size: 50px;
}

.clock > span:hover {
  text-shadow: 2px 2px rgba(0, 0, 0, 0.19);
}

.clock > p:hover {
  text-shadow: 2px 2px rgba(0, 0, 0, 0.19);
}

.session {
  font-size: 30px;
  color: rgba(255, 255, 255, 0.904);
  margin-top: 10px;
}
