.App {
  text-align: center;
}

body {
  background: rgba(255, 217, 0, 0.842);
}
h1 {
  color: red;
  font-size: 50px;
}

.App-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-right: 150px;
  color: white;
}

#control-wrapper {
  display: inline-block;
  width: 100px;
  height: 100px;
  margin: 15px;
  padding: 10px;
  align-items: center;
  justify-content: center;
}

.controls {
  color: red;
  font-size: 30px;
  display: block;
}

.controls button:hover {
  cursor: pointer;
}

.controls > button {
  padding: 5px;
  margin: 15px 2px;
}

.clock {
  border-color: red;
  border-style: solid;
  border-radius: 50%;
  border-width: 5px;
  margin: 55px;
  padding: 10px;
  height: 250px;
  width: 250px;
  display: inline-block;
  color: rgba(255, 255, 255, 0.904);
  font-size: 50px;
}

.session {
  font-size: 20px;
  color: rgba(255, 255, 255, 0.904);
}
